body {background-color: cyan;}




  #contenedor {



  background-color: pink;
  height: 600px;
  width: 800px;
  margin: 0 auto
}

#nav {
  height: 100px;
  background-color: red;


}

.boletes {

height:100px;
width: 100px;
background-color: navy;
border-radius: 50px;
font-size: 25px;
color: white;
text-align: center;
line-height: 90px;

}

.boletes:hover {
background-color: pink;
}




#h1 {
background-color: purple;
float: left;
}
#h2 {
background-color: navy;
float: left;
}
#h3 {
background-color: orange;
float: left;
}
#h4 {
background-color: yellow;
float: left;
}


#caja1 {
  background-color: navy;
  float: left;
}

.cajas {
  width: 400px;
  height: 400px;
  font-family: Sans-serif;
  color: white;
  font-weight: 50px;
  text-align: center;
  line-height: 350px;

}

#caja2{
  background-color: orange;
  float: right;
}

#footer {
  background-color: green;
  height: 100px;
  width: 800px;
  text-align: center;

}
