body {
  background-color: white;
}

#formulario {

  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.cajitas {
  width: 250px;
  background-color: purple;
  margin: 10px;
  color: white;

}

.cajitas,placeholder {
  font-family: sans-serif;
  font-style: italic;

}

::-webkit-input-placeholder {
  color: white;
}


h1 {
  margin: 0 auto;
  text-align: center;
}
